.reg-form{
	width: 100%;margin: auto;
	background: linear-gradient(rgba(68, 29, 116, .8), rgba(48, 198, 203, .8)), url(../img/img.jpg) ;
	background-position: center center;padding: 50px;box-sizing: border-box;

}
h1{
	color: #fff;margin: 0 0 20px;font-size: 40px;text-align: center;
	font-family: Montserrat;text-shadow: 0px 0px 5px;
}
.form{
	width: 800px;margin:  auto;background-color: rgba(0, 0, 0, .5);padding: 20px; 
	box-shadow: 0px 0px 10px 5px #43e97b;
}
.form .form-group{
	width:49%;margin-bottom: 10px;
	display: inline-block;margin-left: 6px;
	
}
.form .form-group label{
	display: block;margin-bottom: 8px;color: #fff;
	font-family: Roboto;font-size: 14px;
}
.form .form-group .input{
	width: 100%;padding: 8px 10px;box-sizing: border-box;
}
.form .gender{color: #fff;font-family: Roboto;}
.form .address {width: 100%;}
.form .address textarea{
	width: 99%;padding: 8px 10px;box-sizing: border-box;
}
.btn{text-align: center;margin-top: 10px;}
.btn input[type="submit"]{
	width: 25%;padding: 10px;background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
	color: #fff;border: none;border-radius: 20px;font-family: Roboto;font-size: 18px;
	box-shadow: 0px 0px 2px #0ff,0px 0px 5px #0ff, 0px 0px 8px #0ff;

}
.log-form{height: 600px;}
.log-form .form{
	width: 500px;
}
.log-form .form .log{
	width: 100%;
}
.log-form .form .log a{color: #0ff;}


/* ****************Assignment-4 ********************  */

/*Pseudo-classes*/
.navbar{padding: 15px 0;margin: 0;background-color: #000;list-style: none;}
.navbar >li{display: inline-block;margin-right: 15px;}
.navbar >li>a{
	padding: 15px;font-size: 20px;text-decoration: none;font-family: Roboto;color: red;
	border-width: 2px;border-style: solid;border-color: transparent;
}
.navbar >li>a:link{color: red;}
.navbar >li>a:active{color: yellow;}
.navbar >li>a:visited{color: lime;}
.navbar >li>a:hover{
	color: #0a0b0c;background-color: #0ff;
	border-image: linear-gradient( #f00, #000, #ff0)1;
}
.navbar >li>a:focus{border: 1px solid #f00;box-shadow: 0px 0px 5px #f00;}

/*Pseudo-class*/
.skills >li{color: red;font-family: sans-serif;font-size: 20px;}
.skills >li:first-child{color: #5094f2;}
.skills >li:last-child{color: blue;}
.skills >li:nth-child(6){color: maroon;}
.skills >li:nth-last-child(6){color: lime;}
.skills >li:nth-child(2n){font-size: 30px;background-color: black;}

/*Pseudo Element*/
.para{
	color: red;font-size: 20px;font-family: Montserrat;
}
.para:first-line{color: brown;text-transform: capitalize;}
.para:first-letter{color: lime;font-size: 50px;}
.para:before{
	content: 'Start';
}
.para:after{
	content: "End";color:blue;
}
.para::selection{color: #fff;background-color: #000;}

section>.block{
	width: 300px;height: 50px;margin: 10px;border: 1px  solid #000;float: left;
}
section>.block:first-child{background-color: red;}
section>.block:last-child{background-color: yellow;}
section>.block:nth-child(3){background-color: blue;}
section>.block:nth-last-child(2){background-color: maroon;}
section>.block:nth-child(2n){background-color: lime;}


/*Matrix function of transform*/
.box{
	clear: both;
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	transition: all 1s;
}
.box:hover{
	transform: matrix3d(1, -0.469472, 0.806613, 0, 1, 0.882948, 0.428884, 0, 
		2, 0, 0.406737, 0, 3, 0, 0, 1); 
}



/*Assignement 5 FlexBox*/
.container{
	max-width: 1300px;height: 200px;border: 1px solid #000;display: flex;
	justify-content: space-between;margin-bottom: 20px;flex-wrap: wrap;
}
.flex-box{
	width: 100px;height: 50px;background-color: red;margin-bottom: 10px;
	color: #fff;flex-grow: 0;flex-shrink: 2;flex-basis: auto;
	align-self: center;
}

@font-face{src:url(../fonts/Montserrat-Bold.ttf);font-family: montserrat-bold;}

h3{margin: 0;color: #fff;text-align: center;font-size: 2.5rem;font-family: montserrat-bold;	}
.container2{
	max-width: 1080px;margin: auto;border: 1px solid #ffde1a;border-top: 8px solid #ffde1a;

}
.container2 header{
	width: 100%;background-color: #f00;padding: 50px 0;
}
.container2 section{
	display: flex;justify-content: space-between;flex-wrap: wrap;
}
.container2 section  aside{
	width: 30%;height: 300px;background-color: #2094f2;padding: 50px 0;flex: 0 0 30%;
}
.container2 section  main{
	width: 70%;height: 300px;background-color: #da94f2;padding: 50px 0;flex: 0 0 70%;
}
.container2 footer{
	width: 100%;padding: 50px 0;background-color:#abc123;
}

@media screen{
	.container2 header{background-color: brown;}
}

@media print{
	.container2 header{background-color: #f0f;}
	.container2 section  aside{background-color:#ff0;}
	.container2 section  main{background-color:#0ff;}
	.container2 footer{background-color:#00f;}
}

@media screen and (max-width: 767px){
	h3{color: #000;font-size: 1.875rem;}
	.container2 header{background-color: #f0f;}
	.container2 section  aside{background-color:#ff0;width: 100%;flex: 0 0 100%;height: 100px;}
	.container2 section  main{background-color:#0ff;width: 100%;flex: 0 0 100%;}
	.container2 footer{background-color:#00f;}
}



/*Image Slide Show*/
#container{
	width: 800px;height: 400px;border: 1px solid #000;
	margin: auto;overflow: hidden;
}
#container .slides{display: inline-block;
	padding: 0;margin: 0;list-style: none;width: 6000px;
}
#container .slides .slide {width: 800px;height: 400;float: left;}
#container .slides .slide img{width: 100%;height: 100%;}
.clicks{
	display: flex;justify-content: space-around;margin-top: 20px;
}
.clicks input[type="button"]{
	padding: 8px 20px;font-size: 1rem;font-family: sans-serif;background-color: #909090;
	border: none;
}





